<% provide(:title, 'ユーザー設定') %>
<% provide(:button_text, 'Save changes') %>
<h1>ユーザー情報を変更できます</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= render 'form' %>

  </div>
  

</div>
<% if current_user?(@user) && !current_user.admin? %>
  <div class"row">
       <div class="col-md-4 col-md-offset-5 warning">
       <%= link_to "アカウントを削除", @user, method: :delete,
                                    data: { confirm: "アカウントを削除しますか？" } %>
       </div>
     </div>
<% end %>