<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<ul class="users">
  <% @users.each do |user| %>
  
    <li>
      <%= link_to user.name, user %>
      
      <% if user.admin? %>
        <%= "管理者のアカウント" %>
      <% end %>
      
      <% if !current_user?(user) %>
        <%= link_to "管理者としてアカウントを削除", user, method: :delete,data: { confirm: "管理者としてユーザーを削除しますか?" } %>
      <% end %>
    </li>
    
  <% end %>
</ul>