<% provide(:title, 'データ') %>

<h1><%= @datum.site_name %>の調査データ</h1>



    <h2>基本情報</h2>
    <table width="100%" class="surveyInfo">
        <tr>
            <td class="key">調査者名</td>
            <td class="value"><%= @datum.researcher_name %></td>
        </tr>
        <tr>
            <td class="key">調査日時</td>
            <td class="value"><%= @datum.date %></td>
        </tr>
        <tr>
            <td class="key">緯度</td>
            <td class="value"><%= @datum.latitude %></td>
        </tr>
        <tr>
            <td class="key">経度</td>
            <td class="value"><%= @datum.longitude %></td>
        </tr>
    </table>
    


    <h2>自然なすがた</h2>
        <table width="100%" class="surveyInfo">
        <tr>
            <td class="key">水の流れはゆたかですか？</td>
            <td class="value"><%= @datum.value1 %></td>
        </tr>
        <tr>
            <td class="key">岸のようすは自然らしいですか？</td>
            <td class="value"><%= @datum.value2 %></td>
        </tr>
        <tr>
            <td class="key">魚が川をかさのぼれるだろうか？</td>
            <td class="value"><%= @datum.value3 %></td>        
        </tr>
        </table>
        


    <h2>豊かな生き物</h2>
        <table width="100%" class="surveyInfo">
        <tr>
            <td class="key">河原と水辺に植物がはえていますか？</td>
            <td class="value"><%= @datum.value4 %></td>        
        </tr>
        <tr>
            <td class="key">鳥はいますか？</td>
            <td class="value"><%= @datum.value5 %></td>        
        </tr>
        <tr>
            <td class="key">魚がいますか？</td>
            <td class="value"><%= @datum.value6 %></td>        
        </tr>
        <tr>
            <td class="key">川底に生き物がいますか？</td>
            <td class="value"><%= @datum.value7 %></td>
        </tr>
        </table>



    <h2>水のきれいさ</h2>
        <table width="100%" class="surveyInfo">
        <tr>
            <td class="key">水は透明ですか？</td>
            <td class="value"><%= @datum.value8 %></td>
        </tr>
        <tr>
            <td class="key">水はくさくないですか？</td>
            <td class="value"><%= @datum.value9 %></td>
        </tr>
        <tr>
            <td class="key">水はきれいですか？</td>
            <td class="value"><%= @datum.value10 %></td>
        </tr>
        </table>



    <h2>快適な水辺</h2>
        <table width="100%" class="surveyInfo">
        <tr>
            <td class="key">川やまわりのけしきは美しいですか？</td>
            <td class="value"><%= @datum.value11 %></td>
        </tr>
        <tr>
            <td class="key">ごみが目につきますか？</td>
            <td class="value"><%= @datum.value12 %></td>
        </tr>
        <tr>
            <td class="key">水にふれてみたいですか？</td>
            <td class="value"><%= @datum.value13 %></td>
        </tr>
        <tr>
            <td class="key">どんなにおいを感じますか？</td>
            <td class="value"><%= @datum.value14 %></td>
        </tr>
        <tr>
            <td class="key">どんな音が聞こえますか？</td>
            <td class="value"><%= @datum.value15 %></td>
        </tr>
        </table>



     <h2>地域とのつながり</h2>
        <table width="100%" class="surveyInfo">
        <tr>
            <td class="key">川にまつわる話を聞いたことがありますか？</td>
            <td class="value"><%= @datum.value16 %></td>
        </tr>
        <tr>
            <td class="key">水辺に近づきやすいですか？</td>
            <td class="value"><%= @datum.value17 %></td>
        </tr>
        <tr>
            <td class="key">多くの人が利用していますか？</td>
            <td class="value"><%= @datum.value18 %></td>
        </tr>
        <tr>
            <td class="key">産業などの活用</td>
            <td class="value"><%= @datum.value19 %></td>
        </tr>
        <tr>
            <td class="key">環境の活動</td>
            <td class="value"><%= @datum.value20 %></td>
        </tr>
        </table>



    <h2>総合平均</h2>
        <table width="100%" class="surveyInfo">
        <tr>
            <td class="key">自然のすがた</td>
            <td class="value"><%= @datum.value21 %></td>
        </tr>
        <tr>
            <td class="key">ゆたかな生き物</td>
            <td class="value"><%= @datum.value22 %></td>
        </tr>
        <tr>
            <td class="key">水のきれいさ</td>
            <td class="value"><%= @datum.value23 %></td>
        </tr>
        <tr>
            <td class="key">快適な水辺</td>
            <td class="value"><%= @datum.value24 %></td>
        </tr>
        <tr>
            <td class="key">地域とのつながり</td>
            <td class="value"><%= @datum.value25 %></td>
        </tr>
        </table>
