<%= form_for @survey, html: { class: "form-horizontal", role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "例：平成○○年度青森川調査" %>
  </div>
  <div class="form-group">
    <%= f.label :file, class: "control-label" %>
    <%= f.file_field :file, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "データセットを登録", class: "btn btn-primary" %>
  </div>
<% end %>
