<% provide(:title, '調査一覧') %>



<h1>調査一覧</h1>

<% if logged_in? %>
    <%= link_to "調査データを新規登録する", new_survey_path , class: "btn btn-lg btn-primary"%>
    <br>
    <br>
<% end %>

<table class="surveys">
    <tr>
        <th>データ登録者</th>
        <th>調査名</th>
        <th>調査地点名</th>
        <th>調査者名</th>
        <th>データ登録日</th>
    </tr>
  
    <% @surveys.each do |survey| %>
        <% survey.data.each do |datum| %>
            <tr>
                <td class="border"><%= User.find(survey.user_id).name %></td>
                <td class="border"><%= link_to survey.name, survey %></td>
                <td class="border"><%= link_to datum.site_name, datum %></td>
                <td class="border"><%= datum.researcher_name %></td>
                <td class="border"><%= survey.created_at %></td>
                <% if logged_in? %>
                    <td>
                        <% if current_user.admin? %>
                            <%= link_to "管理者がデータを削除", survey, method: :delete,
                            data: { confirm: "管理者権限で調査データを削除しますか?" } %>  
                        <% elsif current_user.id == survey.user.id %>
                            <%= link_to "データを削除", survey, method: :delete,
                            data: { confirm: "調査データを削除しますか?" } %>   
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    <% end %>
  
</table>