<% provide(:title, '調査登録') %>
            
<%= link_to "登録の説明を見る", help_path, class: "btn btn-lg btn-primary" %>

<%= link_to "ホームへ戻る", root_path, class: "btn btn-lg btn-primary" %>

<h1>調査登録</h1>


<%= render 'form' %>
