<% provide(:title, '調査地点データ') %>

<h1><%= @survey.name %>の調査地点一覧</h1>

	<% @survey.data.each do |datum| %>
			<p><%= link_to datum.site_name, controller: "data", action: "show", id: datum.id %></p>
	<% end %>

