@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通のCSS*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body > .container {
  margin-top: 45px;
  padding: 15px 15px 15px 15px;
}

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* リスト 5.8: 洗練されたタイポグラフィーを利用するためのCSS */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: bold;
}

/*
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
*/
h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  padding: 5px 15px;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms 登録フォーム */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}




/*map-canvas*/
#map-canvas {
  margin-top: 0px;
}

.gm-style-iw {
  width:280px !important;
	height:280px !important;
	top: 1px !important;
	left: 1px !important;
	right: 1px !important;
	bottom: 1px !important;
}
		
.infoWindow {
	width:280px !important;
	height:280px !important;
}


/* table の css */
table.surveys {
    width: 100%;
}

table.surveys tr th,
table.surveys tr td {
    text-align: center;
    padding: 0px 10px;
    vertical-align: middle;
    border-collapse:collapse;
}
table.surveys tr td.border{
    border: solid 1px;
}
table.surveys tr th {
    font-weight: bold;
    border: solid 1px;
}


/*調査詳細のページのtableについて*/
table.surveyInfo {
    width: 100%;
    td.key {
    }
    td.value {
    text-align:right;
    }
    tr:nth-child(even) {
      background: honeydew;
    }
 
    tr:nth-child(odd) {
      background: lightgray;
    }
}



/*ユーザー削除の警告用*/
div.warning {
  text-align:center;
  margin-top:50px;
  padding: 5px;
  background-color:yellow;
  border-color:red;
  color:#CC7600;
  border:solid 1px;
  a:link { color: red; }
  a:visited { color: red; }
  a:hover { color: red; }
  a:active { color: red; }
}


/* Users index一覧用 */
.users {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0px;
    border-bottom: 1px solid $gray-lighter;
    position:relative;
    margin: 7px 0px 7px 0px;
    padding-left:20px;
    border: 2px solid #756C67;
    font-weight: bold;
  }
  a {
    padding-right:50px;
    text-align:right;
  }
}