.help {
    img {
        display: block;
        margin: 20px auto;
        width: 800px;
        border: solid 1px #000000;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
}
